@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverflow {
  width: 100vw;
  height: auto;

  .wrapper {
    @include flex;
    width: fit-content;
    height: 100svh;
    margin: auto;

    .item,
    .item_twoChild {
      @include flex;
      width: calc(100vw / 3); // Adjust width to display 3 images
      margin: 0 auto;

      img {
        width: 90%;
        height: 100%;
        min-height: 50svh;
        object-fit: contain;
        aspect-ratio: auto;
        margin: auto;
      }

      &.active {
        animation: coverflowActive 2.8s forwards;
      }

      &:first-child {
        animation: coverflowFirstChild 2.8s forwards;
      }

      &:last-child {
        animation: coverflowLastchild 2.8s forwards;
      }
    }

    .item_twoChild {
      &.active {
        animation: coverflowActiveTwoChild 2.8s forwards;
      }
    }
  }

  .single-image {
    @include flex;
    transform: none;
    margin: auto;
    max-width: calc(100vw);
  }
}

@keyframes coverflowLastchild {
  0% {
    transform: scale(0.8) translateX(40%);
    opacity: 0;
  }
  50% {
    transform: scale(0.8) translateX(0);
  }
  100% {
    transform: scale(0.8) translateX(-120%);
    opacity: 1;
  }
}

@keyframes coverflowActive {
  0% {
    transform: scale(0.8) translateX(40%);
  }
  50% {
    transform: scale(1.2) translateX(0%);
  }
  100% {
    transform: scale(0.8) translateX(-109.3%);
  }
}

@keyframes coverflowActiveTwoChild {
  0% {
    transform: scale(0.8) translateX(40%);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) translateX(0%);
  }
  100% {
    transform: scale(0.8) translateX(-109.3%);
    opacity: 1;
  }
}

@keyframes coverflowFirstChild {
  0% {
    transform: scale(0.9) translateX(31.5%);
    opacity: 1;
  }
  50% {
    transform: scale(0.8) translateX(0);
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: scale(0.8) translateX(-200%);
  }
}
