.coverflow {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.coverflow__wrapper {
  display: flex;
  width: fit-content;
  transition: transform 0.5s ease;

  &.single-image {
    justify-content: center; // Centrar la imagen si es única
    transform: none; // No aplicar transformaciones si solo hay una imagen
  }
}

.coverflow__item {
  max-width: 300px; // Debe coincidir con coverflowItemWidth en el JS
  height: 100%;
  margin: 0 15px; // Ajusta según coverflowItemGap
  transition: transform 0.5s ease, opacity 0.5s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  &.active {
    transform: scale(1.2); // Escala la imagen activa
    opacity: 1;
  }

  &:not(.active) {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
